defaults
    mode http
    timeout client 30s
    timeout connect 10s
    timeout server 30s

frontend myapp_imgeapp
    bind *:80

    acl is_hojatcom hdr(Host) -i -m str hojat.com
    acl is_nethightech hdr(Host) -i -m str www.nethightech.com || hdr(host) -i -m str ftp.nethightech.com || hdr(host) -i -m str mail.nethightech.com
    #acl is_nethightech hdr_reg(Host) -i ^(www|ftp|mail)\.nethightech\.com$

    #acl name req.hdr
    #acl name res.hdr
    #acl name res.hdr_reg

    use_backend my_apps if is_hojatcom
    use_backend img_apps if is_nethightech

    default_backend auth_apps

backend my_apps
    server myapp8010 192.168.56.22:8010 

backend img_apps
    server myapp8030 192.168.56.22:8030

backend auth_apps
    server AuthAPP20 192.168.56.22:8020


# If use standard port it is not requred to mention port in ACL
frontend microservice
  bind 0.0.0.0:80
  use_backend my_apps if { hdr(Host) ubuntu-01.srp.services }
  use_backend auth_apps if { hdr(Host) ubuntu-02.srp.services }

backend my_apps
    server app_8010 192.168.0.40:8010

backend auth_apps
    server auth_8020 192.168.0.41:8020

# For non-standard ports, the port in ACL must be mentioned.
frontend microservice
  bind 0.0.0.0:9001 name 0.0.0.0:9001
  use_backend my_apps if { hdr(Host) ubuntu-01.srp.services:9001 }        # host:port
  use_backend auth_apps if { hdr(Host) ubuntu-02.srp.services:9001 }      # host:port

backend my_apps
    server app_8010 192.168.0.40:8010

backend auth_apps
    server auth_8020 192.168.0.41:8020




